# Dependencies
node_modules/
node_modules_old/

# Next.js build output
.next/

# Environment variables
.env.local

.vercel

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
