option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 22
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NPM_USE_PRODUCTION: false
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /static
    /_next: /_next
    /favicon.ico: /favicon.ico
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
  aws:ec2:instances:
    InstanceTypes: t3.small
    EnableSpot: false
