option_settings:
  aws:elb:listener:443:
    ListenerEnabled: true
    InstancePort: 80
    InstanceProtocol: HTTP
    ListenerProtocol: HTTPS
    SSLCertificateId: arn:aws:acm:us-east-1:519848832340:certificate/9aee7c51-ae8d-48df-9c8b-801dee8ebd80
  
  aws:elb:listener:80:
    ListenerEnabled: true
    InstancePort: 80
    InstanceProtocol: HTTP
    ListenerProtocol: HTTP
